


.slider-items {
    width: 1150px;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
    position: relative;
    margin-bottom: 6rem;
    top: -6rem;
}

.slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: none;
    pointer-events: none;


    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;

        .image > img {
            transform: scale(1)  rotate(0) ;
        }

        .info {
            .title, .description, >a {
                transform: translateY(0);

            }
        }
    }


    .info {
        width: 58%;
        display: flex;
        flex-flow: column;
        .title, .description, >a {
            display: block;
            transform: translateY(-100%);
            transition: transform .5s ease;
        }
        .title {
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 7rem;
        }

        .description {
            margin: 6rem 0;
            color: var(--text-color);
        }
        >a {
            max-width: max-content;
        }
    }

    .image {
        flex-grow: 1;
        position: relative;
        height: 100%;
        pointer-events: none;

        .image-shape {
            width: 400px;
            height: 400px;
            position: absolute;
            right: 0;
            top: 50%;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
            transform: translate(0, -50%);
            transition: border-radius 13s ease-in;
            animation: borderShapeImage 10s infinite;
        }
        img {
            height: 100vh;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: scale(0) rotate(65deg);
            transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
       
    }
}

.slider-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);

    >span {
        pointer-events: none;
    }
    >svg {
        padding: 0 1rem;
    }
    >svg:hover {
        cursor: pointer;
        color: var(--primary);
    }
}

@keyframes borderShapeImage {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
    50% {
        border-radius: 75% 25% 30% 70% / 46% 35% 65% 54% 
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
}